# OAuth token for Yandex Forms API
FORMS_TOKEN=

# Organization id
ORG_ID=

# X-Org-Id for Yandex 360 business, X-Cloud-Org-Id for Yandex Cloud Organization
ORG_HEADER=X-Org-Id

# Authorization scheme: OAuth or Bearer
AUTH_SCHEME=OAuth

# API base URL
FORMS_PUBLIC_API=https://api.forms.yandex.net/v1
